# Day 5 - If You Give A Seed A Fertilizer
https://adventofcode.com/2023/day/5

In [152]:
import pandas as pd
import numpy as np
import os


# with open('input.txt', 'r') as file:
#     input_raw = file.read()

input_raw = '''seeds: 79 14 55 13

seed-to-soil map:
50 98 2
52 50 48

soil-to-fertilizer map:
0 15 37
37 52 2
39 0 15

fertilizer-to-water map:
49 53 8
0 11 42
42 0 7
57 7 4

water-to-light map:
88 18 7
18 25 70

light-to-temperature map:
45 77 23
81 45 19
68 64 13

temperature-to-humidity map:
0 69 1
1 0 69

humidity-to-location map:
60 56 37
56 93 4'''

In [153]:
input = input_raw.split('\n')
seeds = input[0]
input = input[2:]
seeds = seeds.split()[1:]
seeds

['79', '14', '55', '13']

In [154]:
input_df = pd.DataFrame({'data': input}).query("data != ''")
input_df = input_df['data'].str.split(expand=True)
input_df.columns = ['source', 'destination', 'range']
input_df

                     source destination range
0              seed-to-soil        map:  None
1                        50          98     2
2                        52          50    48
4        soil-to-fertilizer        map:  None
5                         0          15    37
6                        37          52     2
7                        39           0    15
9       fertilizer-to-water        map:  None
10                       49          53     8
11                        0          11    42
12                       42           0     7
13                       57           7     4
15           water-to-light        map:  None
16                       88          18     7
17                       18          25    70
19     light-to-temperature        map:  None
20                       45          77    23
21                       81          45    19
22                       68          64    13
24  temperature-to-humidity        map:  None
25                        0          69     1
26                        1           0    69
28     humidity-to-location        map:  None
29                       60          56    37
30                       56          93     4

In [155]:
maps = []
map_counter = -1

for index, row in input_df.iterrows():
    if not row['source'].isdigit():
        map_name = row['source'].split('-')
        temp_df = pd.DataFrame(columns=[map_name[0], map_name[2]])
        maps.append(temp_df)
        map_counter += 1
    else:
        current_df = pd.DataFrame(columns=maps[map_counter].columns)
        source_start = int(row['source'])
        source_end = source_start + int(row['range'])-1
        destination_start = int(row['destination'])
        destination_end = destination_start + int(row['range'])-1
        current_df[current_df.columns[0]] = pd.Series(range(source_start, source_end))
        current_df[current_df.columns[1]] = pd.Series(range(destination_start, destination_end))
        maps[map_counter] = pd.concat([maps[map_counter], current_df]).reset_index(drop=True)

In [156]:
maps

[   seed soil
 0    50   98
 1    52   50
 2    53   51
 3    54   52
 4    55   53
 5    56   54
 6    57   55
 7    58   56
 8    59   57
 9    60   58
 10   61   59
 11   62   60
 12   63   61
 13   64   62
 14   65   63
 15   66   64
 16   67   65
 17   68   66
 18   69   67
 19   70   68
 20   71   69
 21   72   70
 22   73   71
 23   74   72
 24   75   73
 25   76   74
 26   77   75
 27   78   76
 28   79   77
 29   80   78
 30   81   79
 31   82   80
 32   83   81
 33   84   82
 34   85   83
 35   86   84
 36   87   85
 37   88   86
 38   89   87
 39   90   88
 40   91   89
 41   92   90
 42   93   91
 43   94   92
 44   95   93
 45   96   94
 46   97   95
 47   98   96,
    soil fertilizer
 0     0         15
 1     1         16
 2     2         17
 3     3         18
 4     4         19
 5     5         20
 6     6         21
 7     7         22
 8     8         23
 9     9         24
 10   10         25
 11   11         26
 12   12         27
 13   13         28
 14   14         29
 15   15         30
 16   16         31
 17   17         32
 18   18         33
 19   19         34
 20   20         35
 21   21         36
 22   22         37
 23   23         38
 24   24         39
 25   25         40
 26   26         41
 27   27         42
 28   28         43
 29   29         44
 30   30         45
 31   31         46
 32   32         47
 33   33         48
 34   34         49
 35   35         50
 36   37         52
 37   39          0
 38   40          1
 39   41          2
 40   42          3
 41   43          4
 42   44          5
 43   45          6
 44   46          7
 45   47          8
 46   48          9
 47   49         10
 48   50         11
 49   51         12
 50   52         13,
    fertilizer water
 0          49    53
 1          50    54
 2          51    55
 3          52    56
 4          53    57
 5          54    58
 6          55    59
 7           0    11
 8           1    12
 9           2    13
 10          3    14
 11          4    15
 12          5    16
 13          6    17
 14          7    18
 15          8    19
 16          9    20
 17         10    21
 18         11    22
 19         12    23
 20         13    24
 21         14    25
 22         15    26
 23         16    27
 24         17    28
 25         18    29
 26         19    30
 27         20    31
 28         21    32
 29         22    33
 30         23    34
 31         24    35
 32         25    36
 33         26    37
 34         27    38
 35         28    39
 36         29    40
 37         30    41
 38         31    42
 39         32    43
 40         33    44
 41         34    45
 42         35    46
 43         36    47
 44         37    48
 45         38    49
 46         39    50
 47         40    51
 48         42     0
 49         43     1
 50         44     2
 51         45     3
 52         46     4
 53         47     5
 54         57     7
 55         58     8
 56         59     9,
    water light
 0     88    18
 1     89    19
 2     90    20
 3     91    21
 4     92    22
 ..   ...   ...
 70    82    89
 71    83    90
 72    84    91
 73    85    92
 74    86    93

 [75 rows x 2 columns],
    light temperature
 0     45          77
 1     46          78
 2     47          79
 3     48          80
 4     49          81
 5     50          82
 6     51          83
 7     52          84
 8     53          85
 9     54          86
 10    55          87
 11    56          88
 12    57          89
 13    58          90
 14    59          91
 15    60          92
 16    61          93
 17    62          94
 18    63          95
 19    64          96
 20    65          97
 21    66          98
 22    81          45
 23    82          46
 24    83          47
 25    84          48
 26    85          49
 27    86          50
 28    87          51
 29    88          52
 30    89          53
 31    90          54
 32    91          55
 33    92          56
 34    93          57
 35    94          58
 36    95          59
 37    96          60
 38    97          61
 39    98          62
 40    68          64
 41    69          65
 42    70          66
 43    71          67
 44    72          68
 45    73          69
 46    74          70
 47    75          71
 48    76          72
 49    77          73
 50    78          74
 51    79          75,
    temperature humidity
 0            1        0
 1            2        1
 2            3        2
 3            4        3
 4            5        4
 ..         ...      ...
 63          64       63
 64          65       64
 65          66       65
 66          67       66
 67          68       67

 [68 rows x 2 columns],
    humidity location
 0        60       56
 1        61       57
 2        62       58
 3        63       59
 4        64       60
 5        65       61
 6        66       62
 7        67       63
 8        68       64
 9        69       65
 10       70       66
 11       71       67
 12       72       68
 13       73       69
 14       74       70
 15       75       71
 16       76       72
 17       77       73
 18       78       74
 19       79       75
 20       80       76
 21       81       77
 22       82       78
 23       83       79
 24       84       80
 25       85       81
 26       86       82
 27       87       83
 28       88       84
 29       89       85
 30       90       86
 31       91       87
 32       92       88
 33       93       89
 34       94       90
 35       95       91
 36       56       93
 37       57       94
 38       58       95]